<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jj.project1">

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>


    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name = ".Global"
        android:allowBackup="true"
        android:icon="@drawable/thunder"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="MainActivity" />
        <activity
            android:name=".TimelineActivity"
            android:label="TimelineActivity" />
        <activity
            android:name=".InformActivity"
            android:label="InfromActivity" />
        <activity
            android:name=".WriteActivity"
            android:label="WriteActivity" />
        <activity
            android:name=".SettingActivity"
            android:label="SettingActivity" />

        <receiver android:name=".FreeBR">
            <intent-filter>
                <action android:name="kr.co.company.START_WEB" />
            </intent-filter>
        </receiver>

    </application>

</manifest>